<p>
  <strong>Your Name*:</strong><br>
  <%= @article.title %>
</p>

<p>
  <strong>Your guestbook entry*:</strong><br>
  <%= @article.text %>
</p>
<%= link_to 'Edit', edit_article_path(@article) %>
<%= link_to 'Back', articles_path %>
