<head>
  <title>Limco Guest Apartment</title>
</head>
<!--
<header>
  <div class="collapse navbar-collapse">
    <ul class="nav nav-pills">
      <li><img id="logo" src="/images/logos/StMaarten-logo.jpg" height="30px"></li>
      <li><a href="/pages/welcome">Welcome</a></li>
      <li><a href="/pages/photos">Photos</a></li>
      <li><a href="/pages/plan">Plan your visit</a></li>
      <li><a href="/pages/guestbook">Guestbook</a></li>
    </ul>
  </div>
</header>
-->
<div class="page-header container">
  <h1>Guestbook</h1>
</div>
<p>Here you will find entries of other people that have visited and you can leave an entry yourself</p>

<h3>(Example) We had an awesome time!</h3>
<p>Iris was such a wonderful host! Thank you so much for making us feel at home and for all your tips! We loved the island and will definitely be back!<br>
<i>Siri - June 23, 2017</i></p>
<p>If you have already visited us, you can leave a comment in our guestbook on this website here:
  <%= link_to 'Guestbook', controller: 'articles' %><br>
  Or you can create a new entry here: <%= link_to 'New guestbook entry', new_article_path %>
</p>
