<div class="page-header container">
  <h1>Guestbook</h1>
</div>
<p>Here you will find entries of other people that have visited and you can leave an entry yourself</p>

<h3>(Example) We had an awesome time!</h3>
<p>Iris was such a wonderful host! Thank you so much for making us feel at home and for all your tips! We loved the island and will definitely be back!<br>
<i>Iris - June 23, 2017</i></p>
