<body class="iris">
  <div class="page-header container">
    <h1>Iris Fehse <small> Photographer / Webdeveloper in (self-)training</small></h1>
  </div>
  <h3>Hello world!</h3>
  <p>I'm Iris and I love photography and creating websites. I am currently learning with Freecodecamp and the Odin Project how to build and websites. I already have some experience with HTML and CSS and I currently still learning more about Javascript and Ruby on Rails.</p>
  <img src="/images/photos/iris.jpg" alt="Panoramic view from the guesthouse" height="100px">
</body>
