<head>
  <title>Limco Guest Apartment</title>
</head>
<!--
<header>
  <div class="collapse navbar-collapse">
    <ul class="nav nav-pills">
      <li><img id="logo" src="/images/logos/StMaarten-logo.jpg" height="30px"></li>
      <li><a href="/pages/welcome">Welcome</a></li>
      <li><a href="/pages/photos">Photos</a></li>
      <li><a href="/pages/plan">Plan your visit</a></li>
      <li><a href="/pages/guestbook">Guestbook</a></li>
    </ul>
  </div>
</header>
-->
<div class="page-header container">
  <h1>Photos</h1>
</div>
<p>To give you more of an idea of our guest apartment, here are some photos:</p>
<div class="row">
  <div class="col-xs-6 col-md-3">
    <a href="/images/photos/8 Swimming pool.JPG" class="thumbnail">
      <img src="/images/photos/8 Swimming pool.JPG" alt="Swimming pool">
    </a>
  </div>
  <div class="col-xs-6 col-md-3">
    <a href="/images/photos/7 View.JPG" class="thumbnail">
      <img src="/images/photos/7 View.JPG" alt="View">
    </a>
  </div>
  <div class="col-xs-6 col-md-3">
    <a href="/images/photos/1 Living room.JPG" class="thumbnail">
      <img src="/images/photos/1 Living room.JPG" alt="Living room">
    </a>
  </div>
  <div class="col-xs-6 col-md-3">
    <a href="/images/photos/2 Dining room.JPG" class="thumbnail">
      <img src="/images/photos/2 Dining room.JPG" alt="Dining room">
    </a>
  </div>
  <div class="col-xs-6 col-md-3">
    <a href="/images/photos/3 Kitchen.JPG" class="thumbnail">
      <img src="/images/photos/3 Kitchen.JPG" alt="Kitchen">
    </a>
  </div>
  <div class="col-xs-6 col-md-3">
    <a href="/images/photos/4 Bedroom.JPG" class="thumbnail">
      <img src="/images/photos/4 Bedroom.JPG" alt="Bedroom">
    </a>
  </div>
  <div class="col-xs-6 col-md-3">
    <a href="/images/photos/5 Bathroom.JPG" class="thumbnail">
      <img src="/images/photos/5 Bathroom.JPG" alt="Bathroom">
    </a>
  </div>
  <div class="col-xs-6 col-md-3">
    <a href="/images/photos/6 Entrance.JPG" class="thumbnail">
      <img src="/images/photos/6 Entrance.JPG" alt="Entrance">
    </a>
  </div>
</div>
