<div class="page-header container">
  <h1>Photos</h1>
</div>
<p>To give you more of an idea of our guest apartment, here are some photos:</p>
<div class="row">
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="/images/photos/8 Swimming pool.jpg" alt="Swimming pool">
    </a>
  </div>
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="/images/photos/7 View.jpg" alt="View">
    </a>
  </div>
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="/images/photos/1 Living room.jpg" alt="Living room">
    </a>
  </div>
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="/images/photos/2 Dining room.jpg" alt="Dining room">
    </a>
  </div>
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="/images/photos/3 Kitchen.jpg" alt="Kitchen">
    </a>
  </div>
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="/images/photos/4 Bedroom.jpg" alt="Bedroom">
    </a>
  </div>
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="/images/photos/5 Bathroom.jpg" alt="Bathroom">
    </a>
  </div>
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="/images/photos/6 Entrance.jpg" alt="Entrance">
    </a>
  </div>
</div>
