<head>
  <title>Limco Guest Apartment</title>
</head>
<!--
<header>
  <div class="collapse navbar-collapse">
    <ul class="nav nav-pills">
      <li><img id="logo" src="/images/logos/StMaarten-logo.jpg" height="30px"></li>
      <li><a href="/pages/welcome">Welcome</a></li>
      <li><a href="/pages/photos">Photos</a></li>
      <li><a href="/pages/plan">Plan your visit</a></li>
      <li><a href="/pages/guestbook">Guestbook</a></li>
    </ul>
  </div>
</header>
-->
<div class="page-header container">
  <h1>Plan your visit</h1>
</div>
<div class="container">
  <h3>Handy info for planning your visit</h3>

  <h4>Hurricane season: <i>from June until November.</i></h4>
  <p>
    This means there is a higher chance of a hurricane hitting the island, but the chances are highest in August and September which are also usually the hottest months (no wind and very humid air). All other months are usually okay to visit<br><br>
  </p>
  <h4>High season:<i> December and January</i></h4>
  <p>
    This means everything is more expensive and the island is generally quite busy with (cruiseship) tourists.
  </p>

  <h3>Calendar</h3>
  <p>Check in the calendar below whether the guest apartment is available in the period you want to visit.</p>
  <p>
    <iframe src="https://calendar.google.com/calendar/embed?src=sailjefp4br9nqp6cnmv5dfgu0%40group.calendar.google.com&ctz=America/Curacao" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
  </p>
    <p>Have you found a period in which you'd like to come visit? <a href="/requests/new/#calendar">Send us a request!</a><br>
    <a href="/requests/">See all requests</a>
  </p>
</div>
