<head>
  <title>Limco Guest Apartment</title>
</head>
<body>
  <div class="container">
    <div class="page-header container">
      <h1>Limco Guest Apartment <small> Your Personal Vacation Home in the Caribbean</small></h1>
    </div>
    <div>
      <img src="/images/photos/Panorama.jpg" class="img-responsive" alt="Panoramic view from the guesthouse" height="250px">
      <br><br>
      <h3>Welcome to our guest apartment on Sint Maarten!</h3>
      <p>

        Here you will find general information and photos of our guest apartment, so you can get a little preview of your visit.<br>
        There's some information you might need to plan your trip, e.g. availability and other tips.<br>

      </p>
    </div>
  </div>
</body>
